body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

input {
    padding: 8px;
    width: 90%;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}
